# Standard OS X files to ignore:
.DS_Store
.Trashes
*.swp
*.lock
*~.nib
*.bak
*.backup
*~

# folders made by PackageMaker:
PackageMaker/**
LangTranUpdate-3.06/**

Folder tree made by epm:
Output/**

Applications/**
LangTranUpdate-3.06/**
PackageMaker/**
Platypus/**
README.md
icons/**
mk-mac-langtran.sh*
pkgbuild-products/**
thing.txt
